.card-gallery {
  column-count: 4;
  column-gap: 10px;
  margin-top: 10px;
}

.tile {
  display: inline-block;
  width: 100%;
}

.hide {
  display: none;
}

mat-card {
  width: 100%;
  padding: 0 0 5px 0;
  margin-bottom: 10px;
}

mat-card-header, mat-card-actions {
  padding: 20px 20px 4px 20px;
}

.mat-card-actions {
  margin: 0;
  padding: 5px;
}

.mat-card-actions button {
  width: 100%;
}

.mat-card > .mat-card-actions:last-child {
  margin: 0;
}

.mat-card-image {
  width: 100%;
  margin: 0;
  max-width: 100% !important;
  height: auto !important;
}
