<div style="height: 150px; width: 100%;">
  <div style="margin: 20px auto 0; width: 350px;">
    <mat-form-field style="width: 250px">
      <input matInput placeholder="e.g. Rembrandt" (keyup.enter)="search(searchTerm.value)" #searchTerm>
    </mat-form-field>
    <button (click)="search(searchTerm.value)" mat-raised-button color="primary">Search!</button>
  </div>
</div>

<mat-paginator [ngClass]="{'hide' : !showPaginator}"
               [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent($event)"
               >
</mat-paginator>

<div *ngIf="(artObjects$ | async) as artObjects" class="card-gallery">
  <div *ngFor="let artObject of artObjects" class="tile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{artObject.title}}</mat-card-title>
        <mat-card-subtitle>{{getMaker(artObject.principalOrFirstMaker)}}</mat-card-subtitle>
      </mat-card-header>
      <img #matImage mat-card-image src="{{artObject.webImage.url}}" alt="{{artObject.description}}">
      <mat-card-actions>
        <button mat-raised-button (click)="navigateToDetail(artObject.objectNumber)" color="primary">View detail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
