.list-wrapper {
  width: 50%;
  float: left;
}

.list-wrapper h2 {
  font-size: 24px;
  font-style: italic;
}

.list-wrapper .color-palette-detail {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.list-wrapper span {
  width: 40%;
}

.list-wrapper p, .list-wrapper h3 {
  color: white;
}

.mat-step-icon .mat-icon {
  display: none;
}

.detail-wrapper {
  position: relative;
}

.fitted-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

button.info-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

::ng-deep .mat-icon{
    font-size: 64px !important;
}

mat-horizontal-stepper {
  position: absolute;
  width: 70%;
  height: 80%;
  top: 10%;
  left: 15%;
}
